<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mis perris</title>
    {% load static %} 
    <link href="https://fonts.googleapis.com/css?family=Exo+2|Satisfy" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'core/js/jquery.hoverGrid.js' %}"></script>
    <script src="{% static 'core/js/skdslider.min.js' %}"></script>
    <link href="{% static 'core/css/skdslider.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/jquery.hoverGrid.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <script src="{% static 'core/js/script.js' %}"></script>
</head>
<body>
    <header>
        <img src="{% static 'core/img/logo.png' %}" alt="img-mis-perris" class="logo">
        <nav class="menu">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="">Quienes somos</a></li>
                <li><a href="/galeria">Galeria</a></li>
                <li><a href="/formulario">Registrate</a></li>
                <li><a href="/regmascota">Registra tu mascota</a></li>

                {% if request.user.is_autenticated %}
                <li><a href="{% %}">Cerrar Sesion</a></li>
                {% else %}
                <li>
                    <a href="{% url 'login' %}"></a>
                </li>
                <li>
                    <a href="{% url 'login' %}"></a>
                </li>
                {% endif %}

            </ul>
        </nav>
    </header>

    {% block contenidoprincipal %}

    {% endblock contenidoprincipal %}

    {% block contenido %}
    
    {% endblock contenido %}
 
 
    <footer>
        

    </footer>
</body>
</html>