<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mis perris</title>
    {% load static %} 
    <link href="https://fonts.googleapis.com/css?family=Exo+2|Satisfy|Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'core/css/materialize.min.css' %}">
    <script src="{% static 'core/js/materialize.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <script src="{% static 'core/js/script.js' %}"></script>
</head>
<body>
 
    <header>
    <nav>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

        <div class="nav-wrapper ">
            <div class="container">
            <a href="#" class="brand-logo">
                <img src="{% static 'core/img/logo.png' %}" alt="img-mis-perris" class="responsive-img">
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down hide-on-small-only hide-on-med-only">
                <li><a href="/">Inicio</a></li>
                <li><a href="">Quienes somos</a></li>
                <li><a href="/galeria">Galeria</a></li>
                <li><a href="/regmascota">Registra tu mascota</a></li>
                {% if request.user.is_autenticated %}
                <li><a href="{% url 'logout'  %}">Cerrar Sesion</a></li>
                {% else %}
                 <li>
                    <a href="{% url 'register' %}"> Registrate</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
               
                {% endif %}
            </ul>
            </div>
            </div>
        </nav>

        <ul id="slide-out" class="sidenav">
            <li><a href="/">Inicio</a></li>
            <li><a href="">Quienes somos</a></li>
            <li><a href="/galeria">Galeria</a></li>
            <li><a href="/regmascota">Registra tu mascota</a></li>
            {% if request.user.is_autenticated %}
            <li><a href="{% url 'logout'  %}">Cerrar Sesion</a></li>
            {% else %}
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
            <li>
                <a href="{% url 'register' %}"></a>
            </li>
            {% endif %}
        </ul>

    </header>

    {% block contenidoprincipal %}

    {% endblock contenidoprincipal %}

    {% block contenido %}
    
    {% endblock contenido %}
 
 
    <footer>
        

    </footer>
</body>
</html>