{% extends 'core/base.html' %}

{% load static %}

{% block contenidoprincipal %}

<section class="image-galery">
        <div class="subtitle-section">
            <h3>Tu mejor amigo</h3>
        </div>

        <div id="whatever">
            <div class="item">
                <img class="image-dog" src="{% static 'core/img/perris/resc/Maya.jpg' %}" alt="my image" title="my image" />
                <div class="caption" style="display: none;">
                    <h2>Maya</h2>
                    <p>Nacimiento: 10/08/2013 (4 años)
                        <br> Raza: Mestizo
                        <br> Tamaño: Grande
                        <br> Genero: Hembra
                        <br>
                    </p>
                </div>
            </div>

            <div class="item">
                <img class="image-dog" src="{% static 'core/img/perris/resc/Luna.jpg' %}" alt="my image" title="my image" />
                <div class="caption" style="display: none;">
                    <h2>Luna</h2>
                    <p>Nacimiento: 10/08/2013 (4 años)
                        <br> Raza: Mestizo
                        <br> Tamaño: Grande
                        <br> Genero: Hembra
                        <br>
                    </p>
                </div>
            </div>

            <div class="item">
                <img class="image-dog" src="{% static 'core/img/perris/resc/Wifi.jpg' %}" alt="my image" title="my image" />
                <div class="caption" style="display: none;">
                    <h2>Wifi</h2>
                    <p>Nacimiento: 10/08/2013 (4 años)
                        <br> Raza: Mestizo
                        <br> Tamaño: Grande
                        <br> Genero: Hembra
                        <br>
                    </p>
                </div>
            </div>

            <div class="item">
                <img class="image-dog" src="{% static 'core/img/perris/resc/Chocolate.jpg' %}" alt="my image" title="my image" />
                <div class="caption" style="display: none;">
                    <h2>Chocolate</h2>
                    <p>Nacimiento: 10/08/2013 (4 años)
                        <br> Raza: Mestizo
                        <br> Tamaño: Grande
                        <br> Genero: Hembra
                        <br>
                    </p>
                </div>
            </div>
            <div class="item">
                <img class="image-dog" src="{% static 'core/img/perris/resc/Pexel.jpg' %}" alt="my image" title="my image" />
                <div class="caption" style="display: none;">
                    <h2>Pexel</h2>
                    <p>Nacimiento: 10/08/2013 (4 años)
                        <br> Raza: Mestizo
                        <br> Tamaño: Grande
                        <br> Genero: Hembra
                        <br>
                    </p>
                </div>
            </div>
            <div class="item">
                <img class="image-dog" src="{% static 'core/img/perris/resc/Bigotes.jpg' %}" alt="my image" title="my image" />
                <div class="caption" style="display: none;">
                    <h2>Bigotes</h2>
                    <p>Nacimiento: 10/08/2013 (4 años)
                        <br> Raza: Mestizo
                        <br> Tamaño: Grande
                        <br> Genero: Hembra
                        <br>
                    </p>
                </div>
            </div>

            <div class="item">
                <img class="image-dog" src="{% static 'core/img/perris/resc/Oso.jpg' %}" alt="my image" title="my image" />
                <div class="caption" style="display: none;">
                    <h2>Oso</h2>
                    <p>Nacimiento: 10/08/2013 (4 años)
                        <br> Raza: Mestizo
                        <br> Tamaño: Grande
                        <br> Genero: Hembra
                        <br>
                    </p>
                </div>
            </div>


        </div>

    </section>


{% endblock contenidoprincipal %}