{% extends 'core/base.html' %}

{% load static %}

{% block contenidoprincipal %}

<div class="container">
    <div class="row">
    <h2>Mascotas adoptadas</h2>
     {% for m in adoptados %}
        <a class="col m4 s12 modal-trigger waves-green box-pets-galery-galery" href="#modal{{m.id}}">  
           <div class=" col s12 z-depth-2 box-pets-galery"> 
            <img class="responsive-img" src="{% static 'core/img/perris/resc/' %}{{m.foto}}" alt="my image" title="my image" />
                <span class="col s12">{{m.nombre}}</span>
            </div>
        </a>

         <div id="modal{{m.id}}" class="modal">
            <div class="modal-content">
                <h4>{{m.nombre}}  
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat right"><i class="material-icons">close</i></a>
                </h4>
                <div class="col m5 s12">
                    <img class="responsive-img" src="{% static 'core/img/perris/resc/' %}{{m.foto}}" alt="my image" title="my image" />
                </div>

                <div class="col m7 s12">
                    <h5>{{m.nombre}}</h5>
                    <p>
                        <ul>
                            <li>Raza:  {{m.raza}} </li>
                            <li>Fecha de Nacimiento: {{m.fechaNacimiento}}</li>
                            <li>Genero: {{m.genero}}</li>
                            <li>Estado: {{m.estado}}</li>
                        </ul>
                    </p>
                    <hr>
                    <h5>Descripción</h5>
                    <p>
                    {{m.descripcion}}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

{% comment %} <section class="image-galery">
        <div class="subtitle-section">
            <h3>Tu mejor amigo</h3>
        </div>

        <div id="whatever">
            <div class="item">
                <img class="image-dog" src="{% static 'core/img/perris/resc/Maya.jpg' %}" alt="my image" title="my image" />
                <div class="caption" style="display: none;">
                    <h2>Maya</h2>
                    <p>Nacimiento: 10/08/2013 (4 años)
                        <br> Raza: Mestizo
                        <br> Tamaño: Grande
                        <br> Genero: Hembra
                        <br>
                    </p>
                </div>
            </div>

            <div class="item">
                <img class="image-dog" src="{% static 'core/img/perris/resc/Luna.jpg' %}" alt="my image" title="my image" />
                <div class="caption" style="display: none;">
                    <h2>Luna</h2>
                    <p>Nacimiento: 10/08/2013 (4 años)
                        <br> Raza: Mestizo
                        <br> Tamaño: Grande
                        <br> Genero: Hembra
                        <br>
                    </p>
                </div>
            </div>

            <div class="item">
                <img class="image-dog" src="{% static 'core/img/perris/resc/Wifi.jpg' %}" alt="my image" title="my image" />
                <div class="caption" style="display: none;">
                    <h2>Wifi</h2>
                    <p>Nacimiento: 10/08/2013 (4 años)
                        <br> Raza: Mestizo
                        <br> Tamaño: Grande
                        <br> Genero: Hembra
                        <br>
                    </p>
                </div>
            </div>

            <div class="item">
                <img class="image-dog" src="{% static 'core/img/perris/resc/Chocolate.jpg' %}" alt="my image" title="my image" />
                <div class="caption" style="display: none;">
                    <h2>Chocolate</h2>
                    <p>Nacimiento: 10/08/2013 (4 años)
                        <br> Raza: Mestizo
                        <br> Tamaño: Grande
                        <br> Genero: Hembra
                        <br>
                    </p>
                </div>
            </div>
            <div class="item">
                <img class="image-dog" src="{% static 'core/img/perris/resc/Pexel.jpg' %}" alt="my image" title="my image" />
                <div class="caption" style="display: none;">
                    <h2>Pexel</h2>
                    <p>Nacimiento: 10/08/2013 (4 años)
                        <br> Raza: Mestizo
                        <br> Tamaño: Grande
                        <br> Genero: Hembra
                        <br>
                    </p>
                </div>
            </div>
            <div class="item">
                <img class="image-dog" src="{% static 'core/img/perris/resc/Bigotes.jpg' %}" alt="my image" title="my image" />
                <div class="caption" style="display: none;">
                    <h2>Bigotes</h2>
                    <p>Nacimiento: 10/08/2013 (4 años)
                        <br> Raza: Mestizo
                        <br> Tamaño: Grande
                        <br> Genero: Hembra
                        <br>
                    </p>
                </div>
            </div>

            <div class="item">
                <img class="image-dog" src="{% static 'core/img/perris/resc/Oso.jpg' %}" alt="my image" title="my image" />
                <div class="caption" style="display: none;">
                    <h2>Oso</h2>
                    <p>Nacimiento: 10/08/2013 (4 años)
                        <br> Raza: Mestizo
                        <br> Tamaño: Grande
                        <br> Genero: Hembra
                        <br>
                    </p>
                </div>
            </div>
            <div class='item'>
                <img src="{{ core.mascota.descargar.jpg }}" class ="image-dog" alt="my image" title="my image" >
            </div>


        </div>

    </section> {% endcomment %}


{% endblock contenidoprincipal %}