 {% extends 'core/base.html' %}

{% load static %}

{% block contenidoprincipal %}
<div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!">
        <img src="{% static 'core/img/perris/adop/Apolo.jpg' %}">
        <div class="slide-desc hide-on-small-only hide-on-med-only">
            <h2>Mi querido Apolo</h2>
            <p>"Su alegría al salir al parque a correr, al tener cariño exclusivo y todos los cuidados que necesita,
                es increíble y nos llena el corazón. Así que ahora, por fin, podemos decir que adoptamos oficialmente
                a nuestro Apolo. En realidad, así tenía que ser, el nos encontró y nosotros a el".</p>
        </div>
    </a>
    <a class="carousel-item" href="#two!">
        <img src="{% static 'core/img/perris/adop/Duque.jpg' %}">
        <div class="slide-desc hide-on-small-only hide-on-med-only">
            <h2>Duque el rey del hogar </h2>
            <p>“Yo buscaba un perro con el que dar largos paseos y salir mucho a la calle, por lo que un animal joven,
                lleno de energía me parecía lo más adecuado. En realidad no me importaba la raza, sólo que fuera
                cariñoso y juguetón. No sólo es todo eso, sino que está bien educado y la dueña le enseñó bastantes
                cosas. En una semana se ha integrado en la familia perfectamente y ya es el rey de la casa y una
                alegría cada día. A él se le nota feliz y agradecido, con ganas de vivir a tope cada momento." </p>
        </div>
    </a>
    <a class="carousel-item" href="#three!">
        <img src="{% static 'core/img/perris/adop/Tom.jpg' %}">
         <div class="slide-desc hide-on-small-only hide-on-med-only">
            <h2>Tom!! Tom!! Tommy!! </h2>
            <p>"El próximo 19 de Noviembre, Tom hará dos años que está con nosotros. Siempre estaré agradecida a mi
                hermana y a vosotros, que me disteis la oportunidad de adoptar la que es hoy una de las mejores compañías
                que he tenido jamás. Os mando un abrazo y también alguna foto de mi pequeño."</p>
        </div>
    </a>
</div>

{% endblock contenidoprincipal %}

{% block contenido %}
<section class="container">
<div class="row">
    <div class="col m6 s12 right-align">
        <h3>Rescate</h3>
        <h5>etapa uno
            <span class="underline"></span>
        </h5>
        <div class="text">Rescatamos perros en situación de peligro y/o abandono. Lo rehabilitamos y los protegemos para buscarles un hogar.</div>
        <img src="{% static 'core/img/rescate.jpg' %}" alt="img-rescate">
    </div>

    <hr class="separator">

    <div class="col m6 s12 left-align">
        <img src="{% static 'core/img/crowfunding.jpg' %}" alt="img-rescate">
        <h3>Crowdfunding</h3>
        <h5>financiamiento
            <span class="underline"></span>
        </h5>
        <div class="text">Sigue nuestras redes sociales para imformarte acercas de las diversas y actividades que realizamos para obtener
            financiamiento para seguir ayudando.</div>

        <button class="btn-campaign">campañas</button>
    </div>
    </div>
</section>
{% endblock contenido %} 